<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>{% trans from 'AntBadgeBundle' %}badge{% endtrans %}</title>
    </head>

    <body>

        <h1>{% trans from 'AntBadgeBundle' %}badge{% endtrans %}</h1>

        

        {% block ant_badge_content %}{% endblock %}

    </body>
</html>