{% extends 'AntBadgeBundle::layout.html.twig' %}

{% block ant_badge_content %}

<p>Insignia número: {{ badge.id }}</p>
<p>Esta insignia se ha logrado por: {{ badge.description }}</p>

{# group: {{ badge.badgeGroup }} #}

<img src="{{ badge.image }}"/>

{% endblock %}
