{% extends 'AntBadgeBundle::layout.html.twig' %}

{% block ant_badge_content %}

<h2>{% trans from 'BadgeBundle' %}edit_badge{% endtrans %}</h2>

<form action="{{ path('ant_badge_edit', {'id':badge.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
