<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

 	<services>
		<service id="ant_badge.provider" class="ant\BadgeBundle\Provider\Provider" public="true">
            <argument type="service" id="ant_badge.badge_manager" />
            <argument type="service" id="ant_badge.group_manager" />
            <argument type="service" id="ant_badge.rank_manager" />
        </service>
        <service id="ant_badge.composer" class="ant\BadgeBundle\Composer\Composer" public="true">
            <argument type="service" id="ant_badge.badge_manager" />
            <argument type="service" id="ant_badge.rank_manager" />
            <argument type="service" id="ant_badge.group_manager" />
        </service>
        <service id="ant_badge.deleter.default" class="ant\BadgeBundle\Deleter\Deleter" public="false">
            <argument type="service" id="ant_badge.authorizer" />
            <argument type="service" id="ant_badge.participant_provider" />
            <argument type="service" id="event_dispatcher" />
        </service>
    </services>

</container>